.taskbox__container {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.taskbox__input-body {
    width: 280px;
    margin-right: 10px;
}
.taskbox__input {
    padding: 7.5px 10px;
    width: 100%;
    border-radius: 5px;
    background: #1f1f27;
    color: rgb(220, 220, 220);
    transition: 0.3s;
    border-radius: 7px;
    border-bottom: 1px solid transparent;
}
.taskbox__input:focus {
    border-bottom: 1px solid #2d538b;
}
.taskbox__input:valid {
    border-color: #2d8b38;
}
.taskbox__input::placeholder {
    color: #5B5754;
}
.taskbox__button-body {
    height: 100%;
}
.taskbox__button {
    height: 100%;
    padding: 7.5px 14px;
    border-radius: 5px;
    background: #1f1f27;
    color: #cecac3;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}
.taskbox__button:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    top: var(--y);
    left: var(--x);
    height: 0;
    width: 0;
    background: linear-gradient(145deg,#45a0eb,#1974bf);
    transition: 0.5s height, 0.5s width;
    transform: translate(-50%,-50%);
}
.taskbox__button:hover:before {
    width: 200px;
    height: 200px;
}
.taskbox__button-text {
    position: relative;
    z-index: 1;
}
.taskbox__button:hover {
    background: #32323f;
}
.taskbox__button:active {
    background: #21212b;
}
